@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://flightimagebucket.s3.ap-south-1.amazonaws.com/image.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 40%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
/*
.booking-form-box
{
  max-width:700px;
  border:1px solid #ced4da;
  margin:auto 0;

}
.radio-btn
{
   margin:0 20px;
}
.radio-btn .btn
{
   margin:20px 10px 20px 0;
    box-shadow:none;
}
.radio-btn .btn::after
{
    content:'';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color:white;

}
.radio-btn .btn:checked::after
{
    content:'';
    background-color: #000;
    transition: 0.5s
}
.radio-btn span
{
   color: #9ad3e4;
}
.booking-form span
{
   color: #80ffff;
}
.booking-form
{
   padding: 0 20px 20px;
}
.booking-form label
{
   margin-bottom: 10px;
   margin-top:10px;
   color: #80ffff;
}
.form-control
{
   border-radius: 1;
   box-shadow: none;
}
*/

.row{
    position: absolute;
    width: 1500px;
    align:center;
    left:-430px;
	margin:5% 20%;

}

.control-label{
 color: white;
}
.table table-striped table-hover{
 margin: 200px 0px 10px 0px;
}
.first-column{
color:black;
}
.radio-btn
{
   margin:auto;
   align:center;
}
.radio-btn .btn
{
   margin:10px 10px 10px 10px;
    box-shadow:none;
}
.radio-btn .btn::after
{
    content:'';
    height: 10px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color:white;

}
.radio-btn .btn:checked::after
{
    content:'';
    background-color: #000;
    transition: 0.5s
}
.radio-btn span
{
   color: #9ad3e4;
}

.form{
width:1500px;

padding: 10px 25px;

}
